/1.py
/2.json
/2.py
/3.py
/3.txt
/4.py
/ALL MCA DOCS
/ALL MCA DOCS(2)
/AOC Forms
/AOC-4 XBRL
/aoc4
/Assiduus_SFS1.pdf
/DPT-3
/DS.json
/Files
/Financials
/Form AOC-4-28102024.pdf
/Form AOC-4-28102024_data.xml
/Form MGT-7-2023-24.pdf
/Form MGT-7-2023-24_data.xml
/Form MGT-7A-25112024.pdf
/Form MGT-7A-25112024_data.xml
/Instance_Unicommerce.xml
/JsCourse
/json_file
/MCA Doc
/MCA_Documents
/MGT-7 Forms
/MGT-7A Forms
/MGT7A2.json
/node_modules
/Non Data Extraction
/out.xml
/output
/outputs
/package-lock.json
/package.json
/requirements.txt
/SignaAttachments
/static
/Table Images
/templates
/TrOCR.txt
/venv
/[02-01-2024]_Form_MGT-7-02012024_signed_0
/[04-12-2023]_Form_MGT-7A-04122023_signed_0
/[05-11-2022]_Form_AOC-4-05112022_signed_3(JS Metadata)